:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

:host ::ng-deep .main-router-outlet + * {
  flex: 1 1 0;
}

mat-toolbar {
  flex: 0 0 auto;
  justify-content: space-between;
}

.info-icons {
  display: flex;
  gap: 8px;
}
