/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.brand .mat-button-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2em;
}
