:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

mat-drawer-container {
  flex: 1 1 0;
}

mat-drawer {
  min-width: 140px;
}

mat-drawer-content {
  padding: 24px;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
}
